<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>teamID</key>
    <string>${APPLE_TEAM_ID}</string>
    <key>uploadSymbols</key>
    <true/>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.pearsonmedia.Seddly</key>
        <string>Seddly_AppStore</string>
        <key>com.pearsonmedia.Seddly.ShareExtension</key>
        <string>SeddlyShareExt_AppStore</string>
        <key>com.pearsonmedia.Seddly.Widget</key>
        <string>SeddlyWidget_AppStore</string>
        <key>com.pearsonmedia.Seddly.watchkitapp</key>
        <string>SeddlyWatch_AppStore</string>
    </dict>
</dict>
</plist>
